{% extends 'base.html' %}

{{ super() }}
{% block main %}
<main class="container">
	<div class="row">
		<form class="col-8 mx-auto pt-5" method="POST" action="{{ url_for('add_article') }}">
		  {% for cat, msg in get_flashed_messages(True) %}
	        <div class="{{ cat }}">{{ msg }}</div>
	      {% endfor %}
	      {% for field in form if field.name not in ['csrf_token', 'submit'] %}
	        {{ form.hidden_tag() }}
	        <div class="mb-2">
	          {{ field.label(class='form-label') }}
	          {{ field(class='form-control') }}
	          {% for error in field.errors %}
	            <div class="form-text text-danger">{{ error }}</div>
	          {% endfor %}
	        </div>
	      {% endfor %}
	      {{ form.submit(class='btn btn-dark mt-3 mb-3') }}
		</form>
	</div>
</main>
{% endblock main %}